body {
    font-family: sans-serif;
}

.todoForm {
    width: fit-content;
    margin: 0 auto;
}

#LS-input {
    width: 500px;
    font-size: 18px;
    padding: 5px;
}

.LS-input-err{
    text-align: center;
    color: rgb(219, 88, 88);
}

#LS-submit {
    font-size: 20px;
}

.LS-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.todo-item {
    display: flex;
    align-items: center;
    
    padding: 10px;
    margin-bottom: 20px;

    word-break: break-word;
    font-size: 18px;

    border: 1px solid black;
}

.todo-close {
    margin: 3px 0 0 20px;

    font-size: 28px;

    cursor: pointer;
}
